.plan-title{
    font-weight: 600;
    font-size: 24px;
}

.plan-subtitle{
    font-weight: 400;
    font-size: 14px;
    color: #c4c4c4;
}

.title-container{
    background-color: white;
    margin-top: -16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.slider-container{
    //mock up krub
    height:36px;
}

.date-index{
    font-weight: 600;
    font-size: 16px;
}

.date-title{
    font-size: 14px;
    color: #c4c4c4;
}