@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.App{
  font-family: 'Open Sans', sans-serif;
  background-color: #fafafa;
  height: 100vh;
  width: 100vw;
}

.small-title{
  font-size: 14px;
  font-weight: 600;
}

.big-title{
  font-size: 16px;
  font-weight: 600;
}

.app-pagetitle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
}

.app-tabbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 45px;
  display: flex;
  background-color: #ffffff;
  padding-top: 10px;


  // iPhone XR, 11, 11 Pro Max
  @media screen and (height: 848px) and (width: 414px) {
    height: 80px;
  }

  // flutter screen
  @media screen and (height: 852px) and (width: 414px) {
    height: 80px;
  }

  // iPhone X, 11 Pro
  @media screen and (height: 768px) and (width: 375px) {
    height: 80px;
  }
}