
Link{
  color:black !important;
  text-decoration: none;
}

a{
  color:black !important;
  text-decoration: none;
}

a:hover{
  color:black !important;
  text-decoration: none;
}

input, button{
  border:none;
  background: none;
}

.App{
  font-family: 'Kanit', sans-serif;
  background-color: #fafafa;
  height: 100vh;
  width: 100vw;
  }

.small-title{
  font-size: 14px;
  font-weight: 600;
}

.big-title{
  font-size: 16px;
  font-weight: 600;
}

.app-tabbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 45px;
  display: flex;
  background-color: #ffffff;
  padding-top: 10px;


  // iPhone XR, 11, 11 Pro Max
  @media screen and (height: 848px) and (width: 414px) {
    height: 80px;
  }

  // flutter screen
  @media screen and (height: 852px) and (width: 414px) {
    height: 80px;
  }

  // iPhone X, 11 Pro
  @media screen and (height: 768px) and (width: 375px) {
    height: 80px;
  }
}

.default-padding{
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 96px;
}

.gradient-background{
  background: rgb(243,187,128);
background: -moz-linear-gradient(135deg, rgba(243,187,128,1) 0%, rgba(230,105,115,1) 100%);
background: -webkit-linear-gradient(135deg, rgba(243,187,128,1) 0%, rgba(230,105,115,1) 100%);
background: linear-gradient(135deg, rgba(243,187,128,1) 0%, rgba(230,105,115,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3bb80",endColorstr="#e66973",GradientType=1);
}

.white-text{
  color:white;
}

.extra-small-title{
  font-weight: 600;
  color: #969191;
  font-size: 0.75rem;
}

.color-text{
  background: -webkit-linear-gradient(135deg, rgba(243,187,128,1) 0%, rgba(230,105,115,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
