.card-container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1);
    width: 100%;
    height: fit-content;
    padding: 16px;
    margin-bottom: 8px;

    .title{
        font-weight: 600;
    }

    .subtitle{
        display: flex;
        font-size: 12px;
        align-items: center;
        margin-top: 0.25rem;
    }
}

.card-option{
    height: 100%;
    padding-right: 16px;

}